{% extends "base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="../static/fullscreen.css">
{% endblock %}
{% block content %}
<div class="my_container">
    <div class="text-center">
        <!-- <h1 class="mt-5">遇见</h1>
        <p class="lead">交大，来了，就不愿意离开</p> -->
        <p></p>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="footer">
  <div class="container">
    <span class="text-muted">Edit by 热心学长</span>
  </div>
</footer>
{% endblock %}