{% extends 'base.html' %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="../static/tips.css">
{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript">
  $(document).ready(function(){
    let nums=10;
    for(let i=1;i<=nums;i++)
    {
      $(".p"+i.toString()).hide();
    }

    for(let i=1;i<=nums;i++)
    {
      $("#button"+i.toString()).click(function(){
        $(".p"+i.toString()).toggle();
      })
    }
  });
</script>
{% endblock %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Ideal</h1>
      <p>一年前，多么希望能有一个网页，告诉我一些入学注意事项。</p>
      <p>现在，我也成为了学长，已然不需要这些东西，但愿以曾经的梦，作为礼物，送给将入学的你们</p>
      <p>由衷感谢帮助我，给我提供过资源的同学</p>
      <!-- <p><a class="btn btn-primary btn-lg" href="/tips" role="button">Get &raquo;</a></p> -->
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>报道准备</h2>
      <p>在8月10日-8月18日进入<a href="http://freshman.swjtu.edu.cn/">迎新网</a>填写个人信息，20号之
        前在银行卡（随通知书一起寄过来的银行卡，需要去银行激活，默认密码：955330）存好钱（填信息的时候就有
      <span class="p1">缴费条款），学校会采用银行卡代扣服务，自动
        从银行卡中扣除（生源地贷款较为特殊，后面会专门讲解），25号，迎新网会公布学号宿舍班级（来学校之前就能和舍友互怼啦）。</span></p>
      <p class="p1">准备物品：证件照，身份证，录取通知书，手机，钱包，转团关系证明，团员证</p>
       <p><button class="btn btn-secondary"  id="button1">View details &raquo;</button></p>
    </div>
    <div class="col-md-4">
      <h2>开学报道</h2>
      <h3>1.乘车</h3>
      <p>①成都双流机场到犀浦校区</p>
      <p>路线一：坐机场大巴2，3号线分别到火车北站和东站，在出口站找到学校迎新点，坐迎新校车到学校即可。</p>
      <p>路线二：乘坐机场大巴2号线后转乘地铁一号线，坐到天府广场在换乘地铁2号线，就可直达地铁犀浦终点站。</p>
      <p>路线三：乘3号线到太平园，换乘7号线到茶店子，再换乘坐2号线到犀浦终点站</p>
      <div class="p2"><p>②成都火车北站到犀浦校区</p>
      <p>路线一：火车站乘迎新校车</p>
      <p>路线二：坐地铁1号线至天府广场再换乘2号线到地铁犀浦终点站。</p>
      <p>③成都火车东站到犀浦校区</p>
      <p>路线一：火车站乘坐迎新校车</p>
      <p>路线二：乘坐地铁2号线到达犀浦校区</p>
      <p>注：到了犀浦站以后可以打滴滴，坐三轮或则校车到达学校。<a href="../static/subway.gif">查看成都地铁</a></p>
      <h3>2.学校报到</h3>
      <p>本科生按照"迎新点报到——办理入住——办理缴费（网上扣费成功的同学忽略此项）——教务处报到——办理户口手续"流程办理报道手续，保险是自愿购买。</p>
      <p>注：有的通知书里面没有银行卡，就可以到学校再缴费</p>
      <h3>3.家长陪同</h3>
      <p>新生报到期间，南门外以及犀浦镇上很多不正规的小旅店都坐地起价（平时50，60涨到200，300），建议乘地铁去市区
        住价格实惠干净的旅店。<em>提前订房</em>，开学很多都是满客
      </p>
      </div>
       <p><button class="btn btn-secondary"  id="button2">View details &raquo;</button></p>
    </div>
    <div class="col-md-4">
      <h2>寝室</h2>
      <p>寝室为四人间，上床下桌，带独立卫生间，每层楼有公共卫生间和公共洗衣机。关于寝室的编号，举一个例子，若为127010，则为天佑斋12栋，
        <span class="p3">楼，10号房。聪明的学弟学妹们肯定发现了，前两个数字，代表寝室在哪一栋，第三个数字代表层数，最后三个数字代表房间号。</span>
      </p>
      <p class="p3">水卡（及洗澡时用的卡），在各自寝室宿管处领取。（洗澡时间：6：00-9：30am，16：00-23：00pm）</p>
       <p><button class="btn btn-secondary"  id="button3">View details &raquo;</button></p>
    </div>
    <div class="col-md-4">
      <h2>军训</h2>
      <p>1.持续时间：9月3日开始，为期14天左右，中途无休息（打雷下雨除外），最后一天为汇报表演</p>
    <div class="p4"> <p>2.休息时间：早上集合出早操，结束后吃早饭，然后开始正式训练（届时教官会统一安排作息时间）。下午两点到五点半左右训练。晚上，前几天
        会安排相关新手入学教育讲座，以后晚上的时间会用来唱歌或则比较轻松的训练（比如拍拍操hhh）。
      </p>
      <p>3.军训场地：北区体育场，五绿茵露天场地。</p>
      <p>4.军训准备：学校会统一购买服装，短袖T恤两件，外套一件，长裤一条，胶鞋一双，帽子一顶，皮带一根。（领衣服的时候要选好
        尺寸，不要嫌麻烦，帽子和鞋子的大小尤为重要，比实际稍微大一点，会比较舒服，早点去排队，不然会等很久，甚至没有合身的衣服）</p>
      <p>5.军训内容：队形队列，站军姿，齐步走，正步走，原地踏步，四面转法，立正，稍息，跨步等。部分人会被选取训练军体拳或加入
        舞蹈队
      </p>
      <p>6.防嗮防暑：防晒霜买高数高一些的，涂厚一点，备一些藿香正气水。</p>
      <p>7.鞋垫：军训中最难受的是脚，鞋垫一定不能少。准备些姨妈巾，吸汗还软乎，鞋子有码，卫生巾也有，所以请按照鞋码购买合适长度的
        卫生巾，36号脚适合买日用24CM长的，38号脚适合25CM的，一次类推。男生不要盲目买夜用的，最后的结果就是太长，塞不进去。还有，不要
        买干爽网面的，要买棉柔透气的，这样才柔软舒适。最好买带护翼的，这样翻过来粘在鞋帮上，不会乱窜。每片的使用寿命因人而异，多垫几片，
        更加舒服。先贴一片，等踩实了的时候再在上面加上一片，再踩实了就一起扔掉，换新的。
      </p>
      <p>Pass:男生别不好意思去买，学长都是这么过来的，如果实在不好意思，可以找认识的学姐帮忙。</p>
    </div>
       <p><button class="btn btn-secondary"  id="button4">View details &raquo;</button></p>
    </div>
    <div class="col-md-4">
      <h2>快递</h2>
      <p>圆通快递：南区二食堂背后（建设银行左侧）</p>
      <p>中通快递：南区二生活服务区二楼（二食堂右侧，工商银行上）</p>
    <div class="p5"><p>韵达快递：北区商业街二楼</p>
      <p>申通快递：北区商业街一楼，益禾堂右面</p>
      <p>顺丰快递：南区三生活服务区二楼(公路那一侧)</p>
      <p>天天快递：南区二生活服务区二楼</p>
      <p>百事汇通：北区红旗超市对面二楼</p>
      <p>邮局：一食堂旁边，向南走。</p>
      <em>填写地址：四川省成都市郫都区犀浦镇  成都市高新西区西部园区西南交大犀浦校区</em>
    </div>
       <p><button class="btn btn-secondary"  id="button5">View details &raquo;</button></p>
    </div>
    <div class="col-md-4">
      <h2>转专业</h2>
      <p>有转专业意向的同学，需要提前做准备，想好自己要转哪一个专业，并比较当前专业的培养计划和想转专业的培养计划。
      <span class="p6">在之后的选课中不仅要选当前专业的课，还需要选所转专业的课。并咨询辅导员和班导，各自学院转专业的相应要求。</span>
      </p>
      <p class="p6">Pass:既然选择了转专业，就得比别人更努力</p>
       <p><button class="btn btn-secondary"  id="button6">View details &raquo;</button></p>
    </div>
    <div class="col-md-4">
      <h2>户口迁移</h2>
      <p>迁户口要带的东西有三个，户口本，录取通知书，新手手册。到当地公安局户籍室，需要复印录取通知书和户口本首页和自己那一页，
       <span class="p7"> 工作人员会在你户口本上盖章，然后给你户口迁移证（新手手册有迁移地址：四川省成都市郫县犀浦镇犀安路999号）</span>
      </p>
      <p class="p7">Pass:户口迁不迁，完全取决于自己，选择不迁的，就忽略此条</p>
       <p><button class="btn btn-secondary"  id="button7">View details &raquo;</button></p>
    </div>
    <div class="col-md-4">
      <h2>生源地贷款交学费</h2>
      <p>办理了助学贷款的同学不需要在卡里面存入学费和住宿费，学校会默认为你申请缓交（其他费用还是要打到卡里），所以会等贷款
      <span class="p8">  到账后统一扣除。银行卡代扣是指在银行卡里预存学费，学校同意扣除。</span>
      </p>
       <p><button class="btn btn-secondary"  id="button8">View details &raquo;</button></p>
    </div>
    <div class="col-md-4">
      <h2>校园生活</h2>
      <h3>①一卡通</h3>
      <p>学校的一卡通不仅可以在食堂吃饭，还可以在一些支持一卡通刷卡服务的商店购买东西。充值可以在支付宝上充值，操作流程：
        点击支付宝上的校园生活，再选择学校，点击一卡通，输入相应信息，即可充值。
      </p>
    <div class="p9"><p>若一卡通不信丢失，可在图书馆一楼挂失并补办，补办时需要学生证或则身份证以及20块大洋。</p>
      <P>Pass:开学会有一次关于图书馆的讲座，在这个讲座之前，一卡通是不可以刷图书馆门禁的。</P>
      <h3>②购买自行车</h3>
      <p>刚开学到10月中旬最好不要买车，又贵又容易被偷。11月的时候可以考虑入手，购买时记得讲价哟。</p>
    </div>
       <p><button class="btn btn-secondary"  id="button9">View details &raquo;</button></p>
    </div>
  </div>
</div> <!-- /container -->
{% endblock %}